{% block compare %}
    <div class="col-6 p-0 m-0 pr-1">
        <div class="row w-100 m-0 border-bottom text-right">
            <img style="opacity: 0.6;" class="position-fixed mb-4" width="150" height="80"
                 src="{{ asset('/img/gun_ribbons/pps-43.png') }}">
            <span style="z-index: 2;" class="w-100 text-right font-size-14 mt-4 pt-4">miejsce na nazwe broni</span>
        </div>
        <div class="row w-100 m-0 border-bottom">
            <div class="col-2 ml-0 mr-auto p-0 border-right"><img width="30px" height="30px"
                                                                  src="{{ asset('/img/mody/ammo.png') }}"
                                                                  alt="crosshair"
                                                                  data-placement="top"
                ></div>
            <div class="col-10 text-left pl-1">Nazwa moda</div>
        </div>
        <div class="row w-100 m-0 border-bottom">
            <div class="col-2 ml-0 mr-auto p-0 border-right"><img width="30px" height="30px"
                                                                  src="{{ asset('/img/mody/crosshair.png') }}"
                                                                  alt="crosshair"
                                                                  data-placement="top"
                ></div>
            <div class="col-10 text-left pl-1">Nazwa moda</div>
        </div>
        <div class="row w-100 m-0 border-bottom">
            <div class="col-2 ml-0 mr-auto p-0 border-right"><img width="30px" height="30px"
                                                                  src="{{ asset('/img/mody/trigger.png') }}"
                                                                  alt="crosshair"></div>
            <div class="col-10 text-left pl-1">Nazwa moda</div>
        </div>
        <div class="row w-100 m-0 border-bottom">
            <div class="col-2 ml-0 mr-auto p-0 border-right"><img width="30px" height="30px"
                                                                  src="{{ asset('/img/mody/spring.png') }}"
                                                                  alt="crosshair"
                ></div>
            <div class="col-10 text-left pl-1">Nazwa moda</div>
        </div>
        <div class="row w-100 m-0 border-bottom">
            <div class="col-2 ml-0 mr-auto p-0 border-right"><img width="30px" height="30px"
                                                                  src="{{ asset('/img/mody/barrel.png') }}"
                                                                  alt="crosshair"
                ></div>
            <div class="col-10 text-left pl-1">Nazwa moda</div>
        </div>
    </div>
{% endblock compare %}