{% extends 'home.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/comparePanel.css') }}">
    <link rel="stylesheet" href="{{ asset('/icons/css/fontello.css') }}">
{% endblock stylesheets %}
{% block main %}
    <div class="container-fluid no-gutters text-white pl-5 mb-5">
        <div class="row w-100 mt-3">
            <div class="col-10 ml-auto mr-0">
                <div class="row w-100 navCompareAll">
                    <button id="back" class="btn btn-outline-light"><i class="icon-back"></i></button>
                </div>
                <div class="row w-100 compareWeaponDesc1">

                </div>
            </div>
        </div>
        <div class="row w-100">
            <div class="col-2 ml-auto mr-0 pr-0">
                <div class="row w-100 compareLegend1 ml-auto mr-0">

                </div>
            </div>
            <div class="col-10">
                <div class="row w-100 compareStatistics1">
                    <div class="col-2 order-last position-fixed offset-8"><img
                                src="{{ asset('/img/legendComparison.png') }}"></div>
                </div>

            </div>
        </div>
        <div class="row w-100 mt-3">
            <div class="col-10 ml-auto mr-0">
                <div class="row w-100 compareWeaponDesc2">

                </div>
            </div>
        </div>
        <div class="row w-100">
            <div class="col-2  ml-auto mr-0 pr-0">
                <div class="row w-100 compareLegend2 ml-auto mr-0">

                </div>
            </div>
            <div class="col-10">
                <div class="row w-100 compareStatistics2">

                </div>
            </div>
        </div>
    </div>
{% endblock main %}
{% block javascriptAssets %}
    {{ parent() }}
{% endblock javascriptAssets %}
{% block javascripts %}
    <script src="{{ asset('JS/compare/CompareTemplates.js') }}"></script>
    <script src="{{ asset('JS/compare/CompareStatistics.js') }}"></script>
    <script src="{{ asset('JS/compare/compareAllWeapons.js') }}"></script>
    <script src="{{ asset('JS/compare/DataProviderForCompareTemplate.js') }}"></script>
    <script src="{{ asset('JS/compare/compareItemDelete.js') }}"></script>
    <script src="{{ asset('JS/Random.js') }}"></script>
{% endblock javascripts %}