{% block compare %}
    <div class="col-6 p-0 m-0 pr-1">
        <div class="row w-100 m-0 border-bottom">
            Nazwa broni 000000000000
        </div>
        <div class="row w-100 m-0">
            <div class="col-2"><img width="30px" height="30px" src="{{ asset('/img/mody/ammo.png') }}" alt="ammunation"
                                    data-toggle="tooltip" data-placement="top" title="miejsce na zmienna z nazwa moda">
            </div>
            <div class="col-2"><img width="30px" height="30px" src="{{ asset('/img/mody/crosshair.png') }}"
                                    alt="crosshair" data-toggle="tooltip" data-placement="top"
                                    title="miejsce na zmienna z nazwa moda"></div>
            <div class="col-2"><img width="30px" height="30px" src="{{ asset('/img/mody/trigger.png') }}" alt="trigger"
                                    data-toggle="tooltip" data-placement="top" title="miejsce na zmienna z nazwa moda">
            </div>
            <div class="col-2"><img width="30px" height="30px" src="{{ asset('/img/mody/spring.png') }}" alt="spring"
                                    data-toggle="tooltip" data-placement="top" title="miejsce na zmienna z nazwa moda">
            </div>
            <div class="col-2"><img width="30px" height="30px" src="{{ asset('/img/mody/barrel.png') }}" alt="barrel"
                                    data-toggle="tooltip" data-placement="top" title="miejsce na zmienna z nazwa moda">
            </div>
        </div>
    </div>
{% endblock compare %}