{% extends 'home.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/registerCss.css') }}">
{% endblock stylesheets %}
{% block main %}
    <div style="height: 35rem" class="container text-white d-flex align-items-center">
        <div class="row w-100 ml-auto mr-auto">
            <div class="col-6 p-2 ml-auto mr-auto text-center border article-body rounded">
                <div class="row w-100 ml-auto mr-auto">
                    <div class="form-container col-12 pb-4 pt-3 w-100 h-100 mh-100 ml-auto mr-auto px-0">
                        <span class="text-info h5">{{ message|default('') }}</span><br>
                        <span class="text-danger mb-1">{{ passwordError|default('') }}</span><br>
                        {% if errors is defined %}
                            {% for error in errors %}
                                <span class="text-danger mb-1">{{ error.propertyPath|replace({
                                        'plainPassword' : 'Password',
                                        'email' : 'E-mail'
                                    })|title }} - {{ error.message }}</span><br>
                            {% endfor %}
                        {% endif %}
                        <form action="{{ path(pathToRouteWhereFormSend|default('user_registration')) }}" method="post"
                              id="registrationForm">
                            <div class="row w-100 ml-auto mr-auto mb-1 mt-2">
                                <div class="col-4 mr-0 px-0"><label for="userName"> Username</label></div>
                                <div class="col-4 col-4 ml-0 px-0"><input class="mw-100" type="text" name="userName"
                                                                          id="userName" maxlength="20" minlength="3"
                                                                          value="{{ user.givenUsername|default('') }}">
                                </div>
                                <div class="col-4 m-0 p-0 text-secondary" id="username_validation_hints"></div>
                            </div>
                            <div class="row w-100 ml-auto mr-auto mb-1">
                                <div class="col-4 mr-0 px-0"><label for="email"> E-mail</label></div>
                                <div class="col-4 col-4 ml-0 px-0"><input class="mw-100" type="email" name="email"
                                                                          id="email"
                                                                          value="{{ user.givenEmail|default('') }}">
                                </div>
                                <div class="col-4 m-0 p-0 text-secondary" id="email_validation_hints"></div>
                            </div>
                            <div class="row w-100 ml-auto mr-auto mb-1">
                                <div class="col-4 mr-0 px-0"><label for="passwordFirst"> Password</label></div>
                                <div class="col-4 col-4 ml-0 px-0"><input class="mw-100" type="password"
                                                                          name="plainPassword[first]"
                                                                          id="passwordFirst" maxlength="40"
                                                                          minlength="5"></div>
                                <div class="col-4 m-0 p-0 text-secondary" id="password_first_validation_hints"></div>
                            </div>
                            <div class="row w-100 ml-auto mr-auto mb-1">
                                <div class="col-4 mr-0 px-0"><label for="passwordSecond"> Repeat password</label></div>
                                <div class="col-4 col-4 ml-0 px-0"><input class="mw-100"
                                                                          type="password"
                                                                          name="plainPassword[second]"
                                                                          id="passwordSecond" maxlength="40"
                                                                          minlength="5"></div>
                                <div class="col-4 m-0 p-0 text-secondary" id="password_second_validation_hints"></div>
                            </div>
                            <button id="register_button" class="btn btn-success" type="submit">Register!</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock main %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('JS/tutorials/ValidationHints.js') }}"></script>
    <script src="{{ asset('JS/security/registration.js') }}"></script>
{% endblock javascripts %}
